<div [dir]="lang" class="container mb-5">
    <div
        [ngClass]="
            lang === 'ltr' ? 'section-title-warp' : 'section-title-warp-rtl'
        "
    >
        <span class="sub-title">
            <i class="flaticon-198-hashtag-1"></i>
            {{ lang === "ltr" ? "Our Centers" : " مراكزنا " }}
        </span>
        <h2>
            {{ lang === "ltr" ? "Advanced Centers" : "مراكزنا المتطورة" }}
        </h2>
        <a routerLink="/centers" class="default-btn">
            {{ lang === "ltr" ? "View All" : " عرض الكل " }}
        </a>
    </div>
    <owl-carousel-o dir="ltr" [options]="customOptions">
        <ng-template *ngFor="let item of centers" carouselSlide>
            <div class="health-center">
                <img [src]="item.image" alt="center image" />
                <a [routerLink]="['/center', item.id]" class="default-btn">
                    {{ lang === "ltr" ? " Read More" : "أقرأ المزيد" }}
                </a>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>
