.page-banner-content-rtl {
    h2 {
        color: var(--white-color);
    }
    .pages-list {
        padding-left: 0px;
    }
    li {
        color: var(--white-color);

        a {
            color: var(--white-color);
            &:hover {
                color: var(--main-color2);
            }
        }
        &::before {
            color: var(--white-color);
        }
    }
}

.health {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

    margin: 3rem 0;

    .image {
        width: 100%;
        img {
            width: 100%;
        }
    }

    .content {
        .header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }
        }
    }

    .buttons {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;

        a {
            min-width: 150px;
            padding: 1rem 0;
            cursor: pointer;

            // padding: 0.5rem 2rem;
            border-radius: 15px;
        }

        button {
            min-width: 150px;
            padding: 1rem 0;
            cursor: pointer;
            border: none;
            outline: none;
            // padding: 0.5rem 2rem;
            border-radius: 15px;
        }
        .call {
            background-color: var(--paragraph-color);
            color: var(--white-color);
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: var(--main-color);
            }
        }
        .drop-call {
            // color: var(--white-color);
            cursor: pointer;
            transition: 0.3s;
            padding-left: 10px;
            padding-right: 10px;

            &:hover {
                // padding-left: 10px;
                color: white;
                background-color: var(--main-color);
            }
        }

        .menu-dropdown {
            max-width: 300px;
            overflow-y: scroll;
            max-height: 300px;
            &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }

            &::-webkit-scrollbar-track {
                background-color: #e8e8e8;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #888;
            }

            &::-webkit-scrollbar-track:hover {
                background-color: #555;
            }
        }

        .whatsapp {
            background-color: var(--main-color);
            color: white;
            &:hover {
                background-color: #128c7e;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .health {
        flex-direction: column;

        .buttons {
            a {
                width: 100px;
                font-size: smaller;
            }
        }
    }
}
