<div
    [dir]="lang"
    [ngClass]="lang === 'ltr' ? 'page-banner-area' : 'page-banner-area-rtl '"
    class="ptb-100"
>
    <div class="container">
        <div
            [ngClass]="
                lang === 'ltr'
                    ? 'page-banner-content'
                    : 'page-banner-content-rtl '
            "
        >
            <h2>
                {{ lang === "ltr" ? " Center Details" : "معلومات عن المركز" }}
            </h2>
            <ul class="pages-list">
                <li>
                    <a href="index.html">{{
                        lang === "ltr" ? " Home" : "الرئيسيه"
                    }}</a>
                </li>
                <li>
                    {{
                        lang === "ltr" ? " Center Details" : "معلومات عن المركز"
                    }}
                </li>
            </ul>
        </div>
    </div>
</div>

<div [dir]="lang" class="container">
    <div class="health">
        <div class="image">
            <img [src]="center?.image" alt="center" />
        </div>
        <div class="content">
            <div class="header">
                <img [src]="center?.logo" alt="center logo" />

                <h3>{{ center?.name }}</h3>
            </div>
            <p>{{ center?.description }}</p>
            <p>{{ center?.description2 }}</p>
            <p class="location">
                <i class="bx bx-location-plus"></i> {{ center?.address }}
            </p>

            <div class="buttons mb-3">
                <!-- <a class=""> -->
                <!-- <i class="bx bxs-phone-call"></i>
                    {{ lang === "ltr" ? "Request Call" : "أطلب الأتصال بنا" }} -->
                <div class="btn-group" dropdown>
                    <button
                        id="button-animated"
                        dropdownToggle
                        type="button"
                        class="dropdown-toggle call"
                        aria-controls="dropdown-animated"
                    >
                        <i class="bx bxs-phone-call"></i>
                        {{
                            lang === "ltr" ? "Request Call" : "أطلب الأتصال بنا"
                        }}
                        <span class="caret"></span>
                    </button>
                    <ul
                        id="dropdown-animated"
                        *dropdownMenu
                        class="dropdown-menu"
                        role="menu"
                        aria-labelledby="button-animated"
                    >
                        <li
                            *ngFor="let item of center?.service"
                            role="menuitem"
                        >
                            <button
                                type="button"
                                (click)="
                                    postService({
                                        center_id: centerId,
                                        service_id: item.id
                                    })
                                "
                                class="dropdown-item drop-call"
                            >
                                {{ item.name }}
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- </a> -->
                <a [href]="center?.whatsApp" class="whatsapp">
                    <i class="fa-brands fa-whatsapp"></i>
                    {{ lang === "ltr" ? "Chat With Us" : "تحدث معنا" }}
                </a>
            </div>

            <alert [type]="alertStatus" *ngIf="alert">
                <strong>Alert !</strong>{{ alert }}
            </alert>
        </div>
    </div>
</div>
<div class="video-popup" *ngIf="isOpen">
    <div class="popup-inner">
        <!-- <iframe
            [src]="about.videoLink"
            title="Setup and Local Installation - React Nextjs Online Yoga Coaching &amp; Training Courses System"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
        ></iframe> -->
        <button (click)="closePopup()" type="button" class="close-btn">
            <i class="bx bx-x"></i>
        </button>
    </div>
</div>
