<!-- Page Banner -->
<div [dir]="lang" class="page-banner-area ptb-100">
    <div class="container">
        <div
            [ngClass]="
                lang === 'ltr'
                    ? 'page-banner-content'
                    : 'page-banner-content-rtl '
            "
        >
            <h2>{{ lang == "ltr" ? "Forgot Password" : "نسيت كلمه مرورى" }}</h2>
            <ul class="pages-list">
                <li>
                    <a href="index.html">{{
                        lang == "ltr" ? "Home" : "الرئيسية"
                    }}</a>
                </li>
                <li>
                    {{ lang == "ltr" ? "Forgot Password" : "نسيت كلمه مرورى" }}
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Forgot Password -->
<div [dir]="lang" class="forgot-password-area ptb-100">
    <div class="container">
        <div class="forgot-password-form">
            <p>
                {{
                    lang == "ltr"
                        ? "Forgot your password? Please enter your email address. You will
                receive a link to create a new password via email"
                        : "نسيت كلمة السر؟ الرجاء إدخال عنوان البريد الإلكتروني الخاص بك. سوف تتلقى رابطًا لإنشاء كلمة مرور جديدة عبر البريد الإلكتروني"
                }}
                .
            </p>
            <form [formGroup]="forgetForm" (submit)="onSubmit()">
                <label>
                    {{ lang == "ltr" ? "Email" : "بريدك الألكترونى" }}</label
                >
                <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                    [placeholder]="
                        lang === 'ltr'
                            ? ' Your email address '
                            : 'عنوان بريدك الإلكتروني'
                    "
                />
                <button type="submit" class="default-btn">
                    {{
                        lang == "ltr"
                            ? "Reset Password"
                            : "أعد تعين كلمة المرور"
                    }}
                </button>
                <alert [type]="alertStatus" *ngIf="alert">
                    <strong>Alert !</strong>{{ alert }}
                </alert>
            </form>
        </div>
    </div>
</div>
