<footer [dir]="lang" class="footer-area pt-5 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div
                    [ngClass]="
                        lang === 'ltr'
                            ? 'single-footer-widget'
                            : 'single-footer-widget-rtl'
                    "
                >
                    <h2>
                        <a routerLink="/">
                            <img [src]="setting?.footerLogo" alt="" />
                        </a>
                    </h2>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2 col-sm-6 menu">
                <div
                    [ngClass]="
                        lang === 'ltr'
                            ? 'single-footer-widget'
                            : 'single-footer-widget-rtl'
                    "
                    class="ps-5"
                >
                    <h3>{{ lang === "ltr" ? "Menu" : "القائمه" }}</h3>
                    <ul class="quick-links">
                        <li>
                            <a routerLink="/about-us">
                                {{ lang === "ltr" ? "About Us" : "من نحن " }}</a
                            >
                        </li>
                        <li>
                            <a routerLink="/services">{{
                                lang === "ltr"
                                    ? "Medical Services"
                                    : "الخدمات الطبية"
                            }}</a>
                        </li>
                        <li>
                            <a routerLink="/doctors">{{
                                lang === "ltr" ? "Doctors" : "الأطباء"
                            }}</a>
                        </li>
                        <li>
                            <a routerLink="/blog-grid">{{
                                lang === "ltr"
                                    ? "Centers Of Excellence"
                                    : "المراكز المتخصصه"
                            }}</a>
                        </li>
                        <li>
                            <a routerLink="/insurance">{{
                                lang === "ltr" ? "Insurance" : " التأمين "
                            }}</a>
                        </li>
                        <li>
                            <a routerLink="/contact-us">{{
                                lang === "ltr" ? "Contact Us" : " تواصل معنا "
                            }}</a>
                        </li>
                        <!-- <li>
                            <a routerLink="/faq">{{
                                lang === "ltr" ? "FAQs" : "الأسئلة الشائعة"
                            }}</a>
                        </li> -->
                        <!-- <li>
                            <a routerLink="/testimonials">{{
                                lang === "ltr" ? "Testimonials" : "أراء العملاء"
                            }}</a>
                        </li> -->
                        <!-- <li>
                            <a routerLink="/privacy-policy">{{
                                lang === "ltr"
                                    ? "Privacy Policy"
                                    : "سياسة الخصوصية"
                            }}</a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div
                    [ngClass]="
                        lang === 'ltr'
                            ? 'single-footer-widget'
                            : 'single-footer-widget-rtl'
                    "
                >
                    <h3>{{ lang === "ltr" ? "Services " : "خدمات" }}</h3>
                    <div class="footer-widget-blog">
                        <article *ngFor="let ser of service" class="item">
                            <a class="thumb">
                                <span
                                    class="fullimage"
                                    role="img"
                                    [style.background-image]="
                                        'url(' + ser.icon + ')'
                                    "
                                ></span>
                            </a>
                            <div class="info">
                                <!-- <span
                                    >{{ lang === "ltr" ? "By " : " بواسطة" }}
                                    <a >{{
                                        lang === "ltr"
                                            ? "Daisy Gabriela"
                                            : "تامر مصطفى "
                                    }}</a></span
                                > -->
                                <h4>
                                    <a>{{ ser.name }}</a>
                                </h4>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-6">
                <div
                    [ngClass]="
                        lang === 'ltr'
                            ? 'single-footer-widget'
                            : 'single-footer-widget-rtl'
                    "
                >
                    <h3>
                        {{
                            lang === "ltr"
                                ? "Contact Information"
                                : "بيانات الاتصال"
                        }}
                    </h3>
                    <ul class="footer-information">
                        <li>
                            <i class="flaticon-039-emergency-call"></i>
                            {{ lang === "ltr" ? "Call Today" : " اتصل اليوم " }}
                            <span
                                ><a [href]="'tel:' + setting?.phone">{{
                                    setting?.phone
                                }}</a></span
                            >
                        </li>
                        <li>
                            <i class="flaticon-040-back-in-time"></i>
                            {{ lang === "ltr" ? " Open Hour" : "ساعات العمل" }}
                            <span>{{
                                lang === "ltr" ? "24 Hours" : "٢٤ ساعة"
                            }}</span>
                        </li>
                        <li>
                            <i class="flaticon-041-placeholder"></i>
                            {{ lang === "ltr" ? "Our Location" : "عنوانا" }}
                            <span> {{ setting?.address }}</span>
                        </li>
                        <li class="social">
                            <a
                                *ngIf="setting?.facebook"
                                [href]="setting?.facebook"
                                target="_blank"
                            >
                                <i class="bx bxl-facebook"></i>
                            </a>
                            <a
                                *ngIf="setting?.youtube"
                                [href]="setting?.youtube"
                                target="_blank"
                            >
                                <i class="bx bxl-youtube"></i>
                            </a>
                            <a
                                *ngIf="setting?.linkedin"
                                [href]="setting?.linkedin"
                                target="_blank"
                            >
                                <i class="bx bxl-linkedin"></i>
                            </a>
                            <a
                                *ngIf="setting?.instagram"
                                [href]="setting?.instagram"
                                target="_blank"
                            >
                                <i class="bx bxl-instagram"></i>
                            </a>

                            <a
                                *ngIf="setting?.tiktok"
                                [href]="setting?.tiktok"
                                target="_blank"
                            >
                                <i class="bx bxl-tiktok"></i>
                            </a>

                            <a
                                *ngIf="setting?.snapchat"
                                [href]="setting?.snapchat"
                                target="_blank"
                            >
                                <i class="bx bxl-snapchat"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Copyright -->
<div class="copyright-area">
    <div class="container">
        <div class="copyright-area-content">
            <p>
                {{
                    lang === "ltr"
                        ? "Proudly Powered by Axon | © All rights reserved To Marakezna 2023"
                        : " مدعوم بفخر من أكسون | © جميع الحقوق محفوظة لمراكزنا ٢٠٢٣"
                }}
            </p>
        </div>
    </div>
</div>
