@import "../../common/dentists/dentists.component.scss";

.page-banner-area {
    background-color: var(--main-color);
    .page-banner-content {
        // color: var(--white-color);
        h2,
        li,
        a {
            color: var(--white-color);

            &::before {
                color: var(--white-color);
            }
        }
    }
}
.page-banner-content-rtl {
    h2 {
        color: var(--white-color);
    }
    li {
        color: var(--white-color);

        a {
            color: var(--white-color);
            &:hover {
                color: var(--main-color2);
            }
        }
        &::before {
            color: var(--white-color);
        }
    }
}

.doctor-content {
    height: 200px;
}

.buttons {
    // margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;

    a {
        min-width: 150px;
        padding: 1rem 0;
        // padding: 0.5rem 2rem;
        border-radius: 15px;
    }

    button {
        min-width: 150px;

        padding: 1rem 0;
        cursor: pointer;
        border: none;
        outline: none;
        // padding: 0.5rem 2rem;
        border-radius: 15px;
    }
    .call {
        background-color: var(--paragraph-color);
        color: var(--white-color);
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: var(--main-color);
        }
    }
    .menu-dropdown {
        width: 300px;
        overflow-y: scroll;
        max-height: 300px;
        &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }

        &::-webkit-scrollbar-track {
            background-color: #e8e8e8;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #888;
        }

        &::-webkit-scrollbar-track:hover {
            background-color: #555;
        }
    }
    .drop-call {
        // color: var(--white-color);
        cursor: pointer;
        transition: 0.3s;
        // height: 100px;
        white-space: wrap;
        padding-left: 10px;
        padding-right: 10px;

        &:hover {
            // padding-left: 10px;
            color: white;
            background-color: var(--main-color);
        }
    }

    .whatsapp {
        background-color: var(--main-color);
        color: white;
        &:hover {
            background-color: #128c7e;
        }
    }
}
