@import "../../common/dentists/dentists.component.scss";

.page-banner-area {
    background-color: var(--main-color);
    .page-banner-content {
        // color: var(--white-color);
        h2,
        li,
        a {
            color: var(--white-color);

            &::before {
                color: var(--white-color);
            }
        }
    }
}
.page-banner-content-rtl {
    h2 {
        color: var(--white-color);
    }
    li {
        color: var(--white-color);

        a {
            color: var(--white-color);
            &:hover {
                color: var(--main-color2);
            }
        }
        &::before {
            color: var(--white-color);
        }
    }
}

.buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    a {
        width: 200px;
        padding: 1rem 0;
        // padding: 0.5rem 2rem;
        border-radius: 15px;
    }

    .call {
        background-color: var(--paragraph-color);
        color: var(--white-color);
        &:hover {
            background-color: var(--main-color);
        }
    }

    .whatsapp {
        background-color: var(--main-color);
        color: white;
        &:hover {
            background-color: #128c7e;
        }
    }
}
