<div class="page-banner-area ptb-100 four" [dir]="lang">
    <div class="container">
        <div
            [ngClass]="
                lang === 'ltr'
                    ? 'page-banner-content'
                    : 'page-banner-content-rtl text-end'
            "
        >
            <h2>
                {{ title }}
            </h2>
            <ul class="pages-list">
                <li>
                    <a href="index.html">{{
                        lang === "ltr" ? "Home" : "الرئيسيه"
                    }}</a>
                </li>
                <li>
                    {{ lang === "ltr" ? "Find a Lab" : "ابحث عن معمل" }}
                </li>
            </ul>
            <div class="mt-4 appointment">
                <app-appointment-search></app-appointment-search>
            </div>
        </div>
    </div>
</div>

<div [dir]="lang" class="doctor-area pt-100 pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6" *ngFor="let cen of centers">
                <div class="single-doctor">
                    <a class="d-block">
                        <img [src]="cen.image" alt="doctor-image" />
                    </a>
                    <div class="doctor-content">
                        <h3>
                            <a>{{ cen.name }}</a>
                        </h3>
                        <div class="buttons">
                            <div class="btn-group" dropdown>
                                <button
                                    id="button-animated"
                                    dropdownToggle
                                    type="button"
                                    class="dropdown-toggle call"
                                    aria-controls="dropdown-animated"
                                >
                                    <i class="bx bxs-phone-call"></i>
                                    {{
                                        lang === "ltr"
                                            ? "Request Call"
                                            : "أطلب الأتصال بنا"
                                    }}
                                    <span class="caret"></span>
                                </button>
                                <ul
                                    id="dropdown-animated"
                                    *dropdownMenu
                                    class="dropdown-menu menu-dropdown"
                                    role="menu"
                                    aria-labelledby="button-animated"
                                >
                                    <li
                                        *ngFor="let item of cen?.service"
                                        role="menuitem"
                                    >
                                        <button
                                            type="button"
                                            (click)="
                                                postService({
                                                    center_id: cen.id,
                                                    service_id: item.id
                                                })
                                            "
                                            class="dropdown-item drop-call"
                                        >
                                            {{ item.name }}
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <a [href]="cen.whatsApp" class="whatsapp">
                                <i class="fa-brands fa-whatsapp"></i>
                                {{
                                    lang === "ltr"
                                        ? "Chat With Us"
                                        : "تحدث معنا"
                                }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
